<section id="user">
    <div class="col col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="title">Users</h5>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>
                                {{user.name}}
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td>
                                {{user.phone}}
                            </td>
                            <td>
                                {{user.website}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>